.DS_Store
.env
config/nginx/ssl/tls.crt
config/nginx/ssl/tls.key
runtime/*
!runtime/.gitkeep
!runtime/certs/
runtime/certs/*
!runtime/certs/.gitkeep
config/ldap/examples/core-groups.vitrobud.ldif
config/ldap/examples/piotrmatysek.vitrobud.ldif
