.DS_Store
.env
config/nginx/ssl/*
!config/nginx/ssl/.gitkeep
runtime/*
!runtime/.gitkeep
!runtime/certs/
runtime/certs/*
!runtime/certs/.gitkeep
config/ldap/examples/core-groups.vitrobud.ldif
config/ldap/examples/piotrmatysek.vitrobud.ldif
config/ldap/examples/*.local.ldif
config/ldap/examples/*.private.ldif
